Repository drazenbebic/habitica, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci/cd, docs, dependencies, docker

.github/labeler.yaml:

'ci/cd':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - docs/*

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - packages/*/package.json
          - packages/*/yarn.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - docker-compose.yml

feature:
  - head-branch: [ '^feat', 'feat' ]
fix:
  - head-branch: [ '^fix', 'fix' ]

feat: add prod deployment action
  .github/workflows/production-deployment.yaml
  package.json
Labels: ci/cd, dependencies

chore: fix branch name
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: fix Dockerfile
  Dockerfile
Labels: docker

chore: extend prod deployment
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: add step for installing dependencies
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: fix ssh-action version
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: fix package name
  .github/workflows/production-deployment.yaml
  package.json
Labels: ci/cd, dependencies

chore: remove docker stop command
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: split docker container reloading into two jobs
  .github/workflows/production-deployment.yaml
Labels: ci/cd

feat: add @octokit/webhook-types package
  apps/api/package.json
  apps/api/src/controllers/v1/webhook.controller.ts
  yarn.lock
Labels: dependencies

chore: fix readme
  README.md
Labels: docs

chore: debug action
  apps/api/src/controllers/v1/webhook.controller.ts
Labels: none

chore: extend debug info
  apps/api/src/controllers/v1/webhook.controller.ts
Labels: none

chore: change http status code
  apps/api/src/controllers/v1/webhook.controller.ts
Labels: none

feat: add api package & task creation
  .github/workflows/production-deployment.yaml
  Dockerfile
  apps/github-app/package.json
  apps/github-app/src/app.ts
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/handlers/index.ts
  apps/github-app/src/handlers/push.handler.ts
  apps/github-app/src/middlewares/catch-async-errors.middleware.ts
  apps/github-app/src/middlewares/logger.middleware.ts
  apps/github-app/src/routes/v1/webhook.router.ts
  apps/github-app/src/utils/http-error.ts
  apps/github-app/src/utils/index.ts
  apps/github-app/tsconfig.json
  package.json
  packages/api/package.json
  packages/api/src/enums.ts
  packages/api/src/index.ts
  packages/api/src/tasks/index.ts
  packages/api/src/types/index.ts
  packages/api/src/types/models.ts
  packages/api/src/types/requests.ts
  packages/api/src/types/responses.ts
  packages/api/src/utils/index.ts
  packages/api/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: ci/cd, dependencies, docker

fix: add scripts to pre-commit hooks
  .husky/pre-commit
Labels: none

feat: add score task request
  apps/github-app/src/middlewares/logger.middleware.ts
  packages/api/src/enums.ts
  packages/api/src/tasks/index.ts
  packages/api/src/types/responses.ts
Labels: none

fix: convert commit push to habit
  apps/github-app/src/handlers/push.handler.ts
  packages/api/src/tasks/index.ts
  packages/api/src/types/models.ts
  packages/api/src/types/responses.ts
Labels: none

feat: add tag task and add checklist item to task requests
  packages/api/src/tasks/index.ts
  packages/api/src/types/models.ts
Labels: none

fix: score for each commit
  apps/github-app/src/handlers/push.handler.ts
Labels: none

fix: refactor task creation
  apps/github-app/src/handlers/push.handler.ts
  packages/api/src/tasks/index.ts
Labels: none

feat: add registry_package handler stub
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/handlers/index.ts
  apps/github-app/src/handlers/registryPackage.handler.ts
  packages/api/src/tasks/index.ts
Labels: none

feat: add webhook auth secret
  apps/github-app/src/app.ts
  apps/github-app/src/middlewares/logger.middleware.ts
  apps/github-app/src/middlewares/webhook-auth.middleware.ts
Labels: none

fix: change task name wording:
  apps/github-app/src/handlers/push.handler.ts
Labels: none

feat: add pull request review handler stub
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/handlers/index.ts
  apps/github-app/src/handlers/pullRequestReview.handler.ts
Labels: none

fix: revert getTasks deconstruction
  packages/api/src/tasks/index.ts
Labels: none

chore: add debugging info
  packages/api/src/tasks/index.ts
Labels: none

chore: add debug info
  apps/github-app/src/app.ts
  packages/api/src/tasks/index.ts
Labels: none

chore: add debug info
  apps/github-app/src/handlers/pullRequestReview.handler.ts
Labels: none

feat: add pull request review handler
  apps/github-app/src/handlers/pullRequestReview.handler.ts
  apps/github-app/src/middlewares/logger.middleware.ts
  packages/api/src/tasks/index.ts
Labels: none

fix: fix pushHandler commit priority
  apps/github-app/src/handlers/pullRequestReview.handler.ts
  apps/github-app/src/handlers/push.handler.ts
Labels: none

chore: small refactoring
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/handlers/push.handler.ts
Labels: none

chore: add issue_comment and issues handler stubs
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/handlers/index.ts
  apps/github-app/src/handlers/issueComment.handler.ts
  apps/github-app/src/handlers/issues.handler.ts
Labels: none

feat: add pull_request.closed handler
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/handlers/index.ts
  apps/github-app/src/handlers/pullRequest.handler.ts
  apps/github-app/src/utils/getTaskByName.ts
  apps/github-app/src/utils/index.ts
Labels: none

feat: add oauth route
  apps/github-app/src/app.ts
  apps/github-app/src/controllers/v1/oauth.controller.ts
  apps/github-app/src/middlewares/logger.middleware.ts
  apps/github-app/src/routes/v1/oauth.router.ts
  apps/github-app/src/routes/v1/webhook.router.ts
Labels: none

feat: add oauth & prisma orm for user management
  apps/github-app/package.json
  apps/github-app/src/controllers/v1/oauth.controller.ts
  apps/github-app/src/prisma/migrations/20240218170528_init/migration.sql
  apps/github-app/src/prisma/migrations/migration_lock.toml
  apps/github-app/src/prisma/schema.prisma
  apps/github-app/src/utils/index.ts
  docker-compose.yml
  package.json
  yarn.lock
Labels: dependencies, docker

fix: minor updates to the migration script
  apps/github-app/src/prisma/migrations/20240218172805_init/migration.sql
  apps/github-app/src/prisma/schema.prisma
Labels: none

fix: refactor event handlers
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/event-handler.ts
  apps/github-app/src/handlers/index.ts
  apps/github-app/src/handlers/issueComment.handler.ts
  apps/github-app/src/handlers/issues.handler.ts
  apps/github-app/src/handlers/pullRequest.handler.ts
  apps/github-app/src/handlers/pullRequestReview.handler.ts
  apps/github-app/src/handlers/push.handler.ts
  apps/github-app/src/handlers/registryPackage.handler.ts
  apps/github-app/src/middlewares/auth.middleware.ts
  apps/github-app/src/middlewares/catch-async-errors.middleware.ts
  apps/github-app/src/routes/v1/webhook.router.ts
  apps/github-app/src/utils/getTaskByName.ts
  packages/api/src/habitica-api.ts
  packages/api/src/index.ts
  packages/api/src/tasks/index.ts
  packages/api/src/utils/index.ts
Labels: none

feat: allow app to be suspended
  apps/github-app/src/controllers/v1/oauth.controller.ts
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/event-handler.ts
  apps/github-app/src/middlewares/auth.middleware.ts
  apps/github-app/src/prisma/migrations/20240219073919_init/migration.sql
  apps/github-app/src/prisma/schema.prisma
Labels: none

chore: add debug info to scoreTask
  apps/github-app/src/event-handler.ts
Labels: none
