Repository drazenbebic/habitica, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci/cd, docs, dependencies, docker

fix: lowercase info logs
  supabase/functions/webhook/handlers/installation-handlers.ts
  supabase/functions/webhook/handlers/pull-request-handlers.ts
  supabase/functions/webhook/handlers/push-commits-handler.ts
  supabase/functions/webhook/placeholder-handler.ts
Labels: none

fix: disable dependabot version updates
  .github/dependabot.yml.bak
Labels: none

feat: add deno support for vscode
  .vscode/settings.json
  deno.lock
Labels: none

feat: add pull request review submitted handler
  deno.lock
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/get-habitica-api.ts
  supabase/functions/webhook/get-task-by-name.ts
  supabase/functions/webhook/handlers/index.ts
  supabase/functions/webhook/handlers/installation-handlers.ts
  supabase/functions/webhook/handlers/pull-request-handlers.ts
  supabase/functions/webhook/handlers/pull-request-review-handlers.ts
  supabase/functions/webhook/handlers/push-commits-handler.ts
  supabase/functions/webhook/index.ts
Labels: none

feat: add workflow & missing github webhook events
  .github/workflows/deploy-edge-functions.yaml
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/index.ts
Labels: ci/cd

feat: remove core package & github-app
  .husky/pre-commit
  apps/github-app/package.json
  apps/github-app/prisma/migrations/20240225123533_init/migration.sql
  apps/github-app/prisma/migrations/migration_lock.toml
  apps/github-app/prisma/schema.prisma
  apps/github-app/src/app.ts
  apps/github-app/src/controllers/v1/github.controller.ts
  apps/github-app/src/event-handler.ts
  apps/github-app/src/middlewares/auth.middleware.ts
  apps/github-app/src/middlewares/catch-async-errors.middleware.ts
  apps/github-app/src/middlewares/logger.middleware.ts
  apps/github-app/src/middlewares/webhook-auth.middleware.ts
  apps/github-app/src/routes/v1/github.router.ts
  apps/github-app/src/utils/account.ts
  apps/github-app/src/utils/getTaskByName.ts
  apps/github-app/src/utils/http-error.ts
  apps/github-app/src/utils/index.ts
  package.json
  packages/core/package.json
  packages/core/src/enums.ts
  packages/core/src/habitica-api.ts
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/core/src/types/models.ts
  packages/core/src/types/requests.ts
  packages/core/src/types/responses.ts
  packages/core/tsconfig.json
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/index.ts
  supabase/functions/webhook/placeholder-handler.ts
  tsconfig.json
  yarn.lock
Labels: dependencies

feat: remove remaining files
  apps/dashboard/package.json
  apps/dashboard/prisma/migrations/20240225123533_init/migration.sql
  apps/dashboard/prisma/migrations/migration_lock.toml
  apps/dashboard/prisma/schema.prisma
  apps/github-app/package.json
  apps/github-app/tsconfig.json
  deno.lock
  package.json
  yarn.lock
Labels: dependencies

feat: remove monorepo & move nextjs to root
  .dockerignore
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .prettierignore
  Dockerfile
  README.md
  apps/dashboard/.gitignore
  apps/dashboard/package.json
  apps/dashboard/tsconfig.json
  babel.config.json
  next.config.mjs
  package.json
  prisma/migrations/20240225123533_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  public/next.svg
  public/vercel.svg
  src/app/api/register/route.ts
  src/app/favicon.ico
  src/app/global.scss
  src/app/layout.tsx
  src/app/oauth/page.tsx
  src/app/page.tsx
  src/hooks/index.ts
  start.sh
  tsconfig.json
  yarn.lock
Labels: docs, dependencies, docker

feat: refactor some code
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/handlers/push-commits-handler.ts
  supabase/functions/webhook/index.ts
Labels: none

feat: rework ui with tailwindcss
  next.config.mjs
  package.json
  postcss.config.js
  public/habitica.png
  src/app/api/auth/[...nextauth]/route.ts
  src/app/global.scss
  src/app/globals.css
  src/app/layout.tsx
  src/app/oauth/page.tsx
  src/app/page.tsx
  src/app/profile/page.tsx
  src/app/sign-in/page.tsx
  src/components/Navigation.tsx
  src/components/NavigationUser.tsx
  src/components/UserAvatar.tsx
  src/components/index.ts
  tailwind.config.ts
  yarn.lock
Labels: dependencies

fix: wrap useSearchParams in Suspense
  src/app/oauth/page.tsx
Labels: none

chore: add build to pre-commit hook
  .husky/pre-commit
Labels: none

feat: add hugeicons
  package.json
  src/app/api/register/route.ts
  src/app/profile/page.tsx
  src/app/sign-in/page.tsx
  src/components/UserAvatar.tsx
  yarn.lock
Labels: dependencies

.github/labeler.yaml:

'ci/cd':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - docs/*

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - packages/*/package.json
          - packages/*/yarn.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - docker-compose.yml

feature:
  - head-branch: [ '^feat', 'feat' ]
fix:
  - head-branch: [ '^fix', 'fix' ]
