Repository drazenbebic/habitica, changes with the labels that .github/labeler.yaml gives for each.
All labels: ci/cd, docs, dependencies, docker

fix: rename & refactor
  .github/workflows/production-deployment.yaml
  .husky/pre-commit
  Dockerfile
  README.md
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/event-handler.ts
  apps/github-app/src/utils/getTaskByName.ts
  package.json
  packages/core/package.json
  packages/core/src/enums.ts
  packages/core/src/habitica-api.ts
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/core/src/types/models.ts
  packages/core/src/types/requests.ts
  packages/core/src/types/responses.ts
  packages/core/tsconfig.json
  tsconfig.json
Labels: ci/cd, docs, dependencies, docker

fix: update prod deployment
  .env.example
  .github/workflows/production-deployment.yaml
  apps/github-app/src/prisma/migrations/20240219170121_init/migration.sql
  apps/github-app/src/prisma/schema.prisma
Labels: ci/cd

fix: move github features to separate namespace
  apps/github-app/src/app.ts
  apps/github-app/src/controllers/v1/github.controller.ts
  apps/github-app/src/controllers/v1/webhook.controller.ts
  apps/github-app/src/routes/v1/github.router.ts
  apps/github-app/src/routes/v1/oauth.router.ts
  apps/github-app/src/routes/v1/webhook.router.ts
  package.json
Labels: dependencies

fix: filter dependabot commits in push handler
  apps/github-app/src/event-handler.ts
Labels: none

feat: change deployment to aws ecr
  .github/workflows/production-deployment.yaml
  apps/github-app/src/controllers/v1/github.controller.ts
  apps/github-app/src/event-handler.ts
  apps/github-app/src/middlewares/auth.middleware.ts
  apps/github-app/src/middlewares/catch-async-errors.middleware.ts
  apps/github-app/src/prisma/migrations/20240219170121_init/migration.sql
  apps/github-app/src/prisma/migrations/20240220162445_init/migration.sql
  apps/github-app/src/prisma/schema.prisma
Labels: ci/cd

chore: update the prod deployment action
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: update production deployment workflow
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: update docker tags in prod deployment
  .github/workflows/production-deployment.yaml
Labels: ci/cd

fix: add migration script to dockerfile
  .gitignore
  Dockerfile
  apps/github-app/package.json
  migrate.sh
  yarn.lock
Labels: dependencies, docker

chore: update dependencies
  apps/github-app/package.json
  yarn.lock
Labels: dependencies

chore: fix dockerifle scripts
  Dockerfile
  migrate.sh
  package.json
Labels: dependencies, docker

chore: add migration script via cmd in dockerfile
  Dockerfile
  migrate.sh
Labels: docker

chore: use cmd for migration and app startup
  Dockerfile
  migrate.sh
Labels: docker

chore: remove run command from dockerfile
  Dockerfile
Labels: docker

chore: update dockerfile to use a single script in cmd
  Dockerfile
  start.sh
Labels: docker

feat: add dashboard app
  .env.example
  .eslintrc.json
  .github/workflows/production-deployment.yaml
  Dockerfile
  apps/dashboard/.gitignore
  apps/dashboard/next.config.mjs
  apps/dashboard/package.json
  apps/dashboard/public/next.svg
  apps/dashboard/public/vercel.svg
  apps/dashboard/src/app/api/register/route.ts
  apps/dashboard/src/app/favicon.ico
  apps/dashboard/src/app/global.scss
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/oauth/page.tsx
  apps/dashboard/src/app/page.tsx
  apps/dashboard/src/hooks/index.ts
  apps/dashboard/tsconfig.json
  apps/github-app/src/app.ts
  apps/github-app/src/controllers/v1/github.controller.ts
  apps/github-app/src/event-handler.ts
  apps/github-app/src/middlewares/auth.middleware.ts
  apps/github-app/src/prisma/migrations/20240225123533_init/migration.sql
  apps/github-app/src/prisma/schema.prisma
  apps/github-app/src/routes/v1/github.router.ts
  apps/github-app/src/utils/account.ts
  apps/github-app/src/utils/index.ts
  package.json
  start.sh
  yarn.lock
Labels: ci/cd, dependencies, docker

fix: add useSearchParams suspense
  apps/dashboard/src/app/oauth/page.tsx
  package.json
Labels: dependencies

chore: remove commented out workflow config lines
  .github/workflows/production-deployment.yaml
Labels: ci/cd

fix: fix env variable loading
  .env.example
  apps/dashboard/package.json
  apps/dashboard/src/app/api/register/route.ts
  apps/github-app/src/app.ts
  package.json
Labels: dependencies

feat: retrieve habitica api credentials from db
  apps/github-app/src/controllers/v1/github.controller.ts
  apps/github-app/src/event-handler.ts
  apps/github-app/src/utils/index.ts
Labels: none

chore: update .env.example
  .env.example
Labels: none

chore: revert prod workflow
  .github/workflows/production-deployment.yaml
Labels: ci/cd

chore: add build & start scripts
  package.json
Labels: dependencies

chore: remove yarn engine
  package.json
Labels: dependencies

feat: add supabase
  .github/workflows/branch-deployment.yaml
  .github/workflows/production-deployment.yaml
  apps/dashboard/package.json
  apps/dashboard/src/app/api/register/route.ts
  package.json
  packages/core/package.json
  supabase/.gitignore
  supabase/config.toml
  supabase/functions/oauth/index.ts
  supabase/functions/webhook/index.ts
  supabase/seed.sql
  yarn.lock
Labels: ci/cd, dependencies

feat: update api route
  .husky/pre-commit
  apps/dashboard/src/app/api/register/route.ts
  apps/github-app/package.json
  yarn.lock
Labels: dependencies

feat: add debug params
  apps/dashboard/src/app/api/register/route.ts
  yarn.lock
Labels: dependencies

feat: add vercel analytics and speed insights
  apps/dashboard/package.json
  apps/dashboard/src/app/layout.tsx
  yarn.lock
Labels: dependencies

feat: add github event placeholders
  supabase/functions/oauth/index.ts
  supabase/functions/webhook/database.types.ts
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/index.ts
  supabase/functions/webhook/placeholder.ts
Labels: none

feat: add create installation webhook
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/handlers/installation.ts
  supabase/functions/webhook/http-error.ts
  supabase/functions/webhook/index.ts
Labels: none

feat: fix oauth webhook
  supabase/functions/oauth/index.ts
  supabase/functions/webhook/handlers/installation.ts
Labels: none

feat: add push event
  supabase/functions/oauth/index.ts
  supabase/functions/webhook/enums.ts
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/get-habitica-api.ts
  supabase/functions/webhook/habitica-api.ts
  supabase/functions/webhook/handlers/installation.ts
  supabase/functions/webhook/handlers/push-commits.ts
  supabase/functions/webhook/types/index.ts
  supabase/functions/webhook/types/models.ts
  supabase/functions/webhook/types/requests.ts
  supabase/functions/webhook/types/responses.ts
Labels: none

feat: add suspend/unsuspend triggers
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/handlers/installation.ts
  supabase/functions/webhook/handlers/push-commits.ts
Labels: none

feat: add account delete hook
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/handlers/installation.ts
Labels: none

feat: add pull request webhook
  supabase/functions/oauth/index.ts
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/get-task-by-name.ts
  supabase/functions/webhook/handlers/installation.ts
  supabase/functions/webhook/handlers/pull-request-handler.ts
  supabase/functions/webhook/handlers/push-commits-handler.ts
  supabase/functions/webhook/index.ts
  supabase/functions/webhook/placeholder-handler.ts
Labels: none

fix: refactor a bit
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/handlers/index.ts
  supabase/functions/webhook/handlers/installation-handlers.ts
Labels: none

fix: add console.info
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/handlers/pull-request-handler.ts
Labels: none

fix: shorten log
  supabase/functions/webhook/index.ts
Labels: none

fix: update dependencies
  apps/github-app/package.json
  yarn.lock
Labels: dependencies

fix: split pull request event
  supabase/functions/webhook/event-handler.ts
  supabase/functions/webhook/handlers/index.ts
  supabase/functions/webhook/handlers/pull-request-handlers.ts
Labels: none

.github/labeler.yaml:

'ci/cd':
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - docs/*

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - packages/*/package.json
          - packages/*/yarn.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - docker-compose.yml

feature:
  - head-branch: [ '^feat', 'feat' ]
fix:
  - head-branch: [ '^fix', 'fix' ]
